* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Raleway", sans-serif;
}

#round {
    padding: 15px 0 30px 0;
    background-color: rgb(247, 237, 244);
}

.main-box {
    background-color: rgb(249, 243, 250);
    height: 60vh;
    padding: 100px 10px;
    flex: 1 0 auto;
}

.main-box h1 {
    padding: 20px;
}

.main-box button {
    margin: 20px;
    padding: 20px;
    width: 60%;
}

/* Game page */
.game-field {
    min-height: 65vh;
    display: flex;
    justify-content: space-between;
    background-color: rgb(247, 237, 244);
}

.player-field {
    display: grid;
    flex-basis: 37%;
}

#vs {
    flex-basis: 20%;
    align-self: center;
    font-size: 140%;
}

.ai-field {
    align-self: center;
    flex-basis: 37%;
    border-radius: 5px;
    border-radius: 5px;
    box-shadow: 1px 2px 5px rgb(124, 124, 124);
    background-color: white;
    transition: all 0.5s;
}

.ai-field img {
    width: 17vh;
    border-radius: 50px;
}


/* Buttons */
.buttons {
    margin: 5px;
    align-self: center;
    box-shadow: 1px 2px 5px rgb(124, 124, 124);
    border: none;
    background-color: white;
    transition: all 0.5s;
}

.buttons img {
    width: 17vh;
    border-radius: 50px;
}

#score {
    display: flex;
    flex-direction: row;
}

#your-score {
    flex-basis: 45%;
    margin: 10px;
    color:blue;
}

#ai-score {
    flex-basis: 45%;
    margin: 10px;
    color:red;
}

#roundResult {
    font-size: 170%;
    font-weight: 700;
    z-index: 2;
    position: absolute;
    top: 80px;
    left: 100px;
}

/* Media query: laptops and larger (992px and up) */
@media screen and (min-width: 992px) {
    .buttons:hover {
        transform: scale(1.2);
        transition: all 0.5s;
    }
}