* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main-box {
    background-color: rgb(249, 243, 250);
    height: 60vh;
    padding: 100px 10px;
    flex: 1 0 auto;
}

.main-box h1 {
    padding: 20px;
}

.main-box button {
    margin: 20px;
    padding: 20px;
    width: 60%;
}

/* Game page */
.game-field {
    min-height: 70vh;
    display: flex;
    justify-content: space-between;
    background-color: rgb(247, 237, 244);
}

.player-field {
    display: grid;
    flex-basis: 37%;
}

#vs {
    flex-basis: 20%;
    align-self: center;
    font-size: 140%;
}

.ai-field {
    align-self: center;
    flex-basis: 37%;
    border-radius: 5px;
    border-radius: 5px;
    box-shadow: 1px 2px 5px rgb(124, 124, 124);
}

.ai-field img {
    width: 17vh;
    border-radius: 50px;
}

/* Buttons */
.buttons {
    margin: 5px;
    align-self: center;
    border-radius: 5px;
    box-shadow: 1px 2px 5px rgb(124, 124, 124);
}

.buttons:hover {
    box-shadow: none;
    background-color: aliceblue;
}

.buttons img {
    width: 17vh;
    border-radius: 50px;
}

#score {
    display: flex;
    flex-direction: row;
}

#your-score {
    flex-basis: 45%;
    margin: 10px;
    color:blue;
}

#ai-score {
    flex-basis: 45%;
    margin: 10px;
    color:red;
}