* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Raleway", sans-serif;
}

h1 {
    padding: 5px;
    font-family: "Bungee Spice", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-image: linear-gradient(to right, #490323, #411032, #361b3c, #282241, #1d2841, #1d2841, #1d2841, #1d2841, #282241, #361b3c, #411032, #490323);
    font-size: 200%;
}

#round {
    padding: 7px;
    background-color: rgb(249, 243, 250);
}

.main-box {
    background-color: rgb(249, 243, 250);
    min-height: 330px;
}

.main-box h1 {
    padding: 10px;
}

.main-box p {
    padding: 20px;
}

.main-box button {
    margin: 20px;
    padding: 20px;
    width: 60%;
    box-shadow: 4px 4px 5px rgb(125, 125, 125);
    font-size: 110%;
    background-image: linear-gradient(to right, #8f7d9f, #756e8e, #5c5f7c, #455068, #314155, #314155, #314155, #314155, #455068, #5c5f7c, #756e8e, #8f7d9f);
    color: white;
    border-radius: 35px;
}
.main-box button:hover {
    box-shadow: none;
    transition: all 0.5s;
    background: linear-gradient(to right, #8f7d9f, #a295b1, #b5adc3, #cac5d5, #e0dee7, #e0dee7, #e0dee7, #e0dee7, #cac5d5, #b5adc3, #a295b1, #8f7d9f);
    color: black;
}


/* Styles for block with rules */
#rules {
    text-align: left;
    height: 44.5vh;
    padding: 0 5px 0 30px;
    background-image: linear-gradient(to right, #490323, #411032, #361b3c, #282241, #1d2841, #1d2841, #1d2841, #1d2841, #282241, #361b3c, #411032, #490323);
    color: white;
    font-size: 90%;
}
#rules p {
    padding-top: 5px;
}

#headerRules {
    text-align: center;
    padding: 5px;
    font-family: "Bungee Spice", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-image: linear-gradient(to right, #490323, #411032, #361b3c, #282241, #1d2841, #1d2841, #1d2841, #1d2841, #282241, #361b3c, #411032, #490323);
}

#rules ul {
    padding-left: 15px;
}
#rules ul > li {
    padding-top: 5px;
    
}
#rules ol > li {
    padding-bottom: 20px;
}

/* Game page */
.game-field {
    min-height: 62vh;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to right, #8f7d9f, #a392ae, #b6a8be, #cabece, #ddd5df, #ddd5df, #ddd5df, #ddd5df, #cabece, #b6a8be, #a392ae, #8f7d9f);
}

.player-field {
    display: grid;
    flex-basis: 37%;
}

#vs {
    flex-basis: 20%;
    align-self: center;
    font-size: 140%;
}

.ai-field {
    align-self: center;
    flex-basis: 37%;
    border-radius: 8px;
    box-shadow: 1px 2px 5px rgb(124, 124, 124);
    background-color: white;
    transition: all 0.5s;
    margin: 5px;
}

.ai-field img {
    width: 17vh;
    border-radius: 50%;
}


/* Buttons */
.buttons {
    margin: 5px;
    align-self: center;
    box-shadow: 1px 2px 5px rgb(124, 124, 124);
    border: none;
    background-color: white;
    transition: all 0.5s;
    border-radius: 8px;
}

.buttons img {
    width: 17vh;
    border-radius: 50px;
}

#score {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#your-score {
    flex-basis: 45%;
    margin: 10px;
    color:blue;
}

#ai-score {
    flex-basis: 45%;
    margin: 10px;
    color:red;
}

#roundResult {
    font-size: 180%;
    font-weight: 700;
    z-index: 99;
    position: absolute;
    bottom: 15px;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
}

/* End game message */

#endGameMessage {
    width: 70%;
    background-color: bisque;
    position: absolute;
    top:45%;
    left:50%;
    transform:translate(-50%, -50%);
    z-index: 99;
    font-size: 120%;
    background-image: linear-gradient(to right, #8f7d9f, #756e8e, #5c5f7c, #455068, #314155, #314155, #314155, #314155, #455068, #5c5f7c, #756e8e, #8f7d9f);
    color: white;
}

#endGameMessage button {
    width: 150px;
    height: 35px;
    margin: 10px;
}

#endGameMessage a {
    text-decoration: none;
}
#endGameMessage p {
    padding: 10px;
}

/* Media query: large or landscape phones (500px and up) */
@media screen and (min-width: 500px) {
    h1 {
        padding: 10px 29%;
    }
    #gameField {
        padding: 0 10%;
    }
    .main-box button {
        width: 33%;
    }
    #rules {
        padding-left: 20%;
        font-size: 100%;
    }

    #rules p {
        padding-top: 15px;
    }

    #roundResult {
        bottom: 35px;
        font-size: 200%;
    }
    .player-field {
        flex-basis: 30%;
    }
    .ai-field {
        flex-basis: 30%;
    }
}



/* Media query: laptops and larger (900px and up) */
@media screen and (min-width: 900px) {
    .buttons:hover {
        transform: scale(1.2);
        transition: all 0.5s;
    }
    #gameField {
        padding: 0 20%;
    }
    #endGameMessage {
        width: 30%;
    }
    .main-box button {
        width: 20%;
    }
    h1 {
        font-size: 240%;
    }
    #rules {
        padding-left: 37%; 
    }
    #rules p {
        padding-top: 40px;
    }
}